<div class="about">
	<div class="self-image">
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-6 about-copy">
				<h2>
					In a nutshell.
				</h2>
				<p>
					As a refugee from Orange County, Patty Castaneda has settled into an apartment on a hill in San Francisco, <em>not in an actual nutshell</em>. Patty gravitates heavily towards creative strategy, UI/UX, branding, front end coding, DIY, art and puppies.
				</p>
				<hr>
				<h5>Design Ethos</h5>
				<p>
					Always have the end user in mind and talk to users to receive criticism and validation. Expand as much as possible during brainstorming and edit out all unneccesary elements afterward.
				</p>
				<hr>
				<h5>
					Design Toolkit &amp; Technologies
				</h5>
				<p>
					Pencil and paper, Photoshop, Illustrator, HTML / SCSS, etc..  Is novice, but competent in Ruby on Rails, Github &amp; JQuery.
				</p>				
			</div>
		</div>
	</div>
</div>