<div class="about-wrap">
	<div class="about">
		<div class="self-image" alt="Photo by anastasiiasapon.com">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-6 about-copy">
					<h2>
						In a nutshell.
					</h2>
					<p>
						As a refugee from Orange County, I have settled into an apartment on a hill in San Francisco, <em>not in an actual nutshell</em>. I'm a visual designer who codes a bit. I gravitate towards creative strategy, UI/UX, branding, front end coding, DIY, art and puppies.
					</p>
					<span class="hidden-xs">
						<hr>
						<h5>
							Design Ethos
						</h5>
						<p>
							Always have the end user in mind and talk to users to receive criticism and validation. Expand as much as possible during brainstorming and edit out all unneccesary elements afterward.
						</p>
						<hr>
						<h5>
							Design Toolkit &amp; Technologies
						</h5>
						<p>
							Pencil and paper, Photoshop, Illustrator, HTML / SCSS.  Is novice, but tinkers in Ruby on Rails, Github &amp; JQuery.
						</p>
					</span>			
				</div>
			</div>
		</div>
	</div>
</div>