<ul class="navigation ">
	<a href="#work" class="smoothScroll">
		<li>
			<h5>Work</h5>
		</li>
	</a>
	<a href="#about" class="smoothScroll">
		<li>
			<h5>About</h5>
		</li>
	</a>
	<a href="#connect" class="smoothScroll">
		<li>
			<h5>Connect</h5>
		</li>
	</a>	
</ul>