<ul class="navigation">
	<a class="work-nav">
		<li>
			<h5>Work</h5>
		</li>
	</a>
	<a class="about-nav">
		<li>
			<h5>About</h5>
		</li>
	</a>
	<a class="connect-nav">
		<li>
			<h5>Connect</h5>
		</li>
	</a>	
</ul>