<ul class="navigation ">
	<a href="#work">
		<li>
			<h5>Work</h5>
		</li>
	</a>
	<a href="#about">
		<li>
			<h5>About</h5>
		</li>
	</a>
	<a href="#connect">
		<li>
			<h5>Connect</h5>
		</li>
	</a>	
</ul>