<div class="navigation">
	<a href="#">PC</a>
	<a href="">About</a>
	<a href="">Work</a>
	<a href="">Contact</a>
</div>
<div class="container-fluid container-padding">
	<div class="row">
		<%= image_tag 'home/pattycreates-header-image.jpg', class: "img-responsive" %>
	</div>
</div>
