<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Appcelerator, MBaaS, has two main products: The Appcelerator Platform, serving over 70% of the Fortune 100, and Titanium, the open source developer tool with over 780,000 community developers.
			</p>
			<p>
				Titanium is Appcelerator's developer platform with approximately 700,000 developers world wide contributing to its open source platform. Titanium is a suite of tools that compiles JS and HTML into native mobile apps. Below, there are a few screenshots of documentation for on-boarding.
			</p>
		</div>
	</div>
</div>