<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Kissmetrics is an analytics platform with a suite of tools to empower the marketer to optimize their marketing funnel.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="center title">
				Keeping it simple to scale growth.
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				Under the leadership of many skilled mentors, I worked at Kissmetrics as a Web Designer and then promoted to Marketing Design Manager. The culture at Kissmetrics was empowerment through measurement and to <em>be better than yesterday</em> with <a href="http://blog.kissmetrics.com" target="_blank">smarter marketing techniques.</a> We strived to hit our business objectives of increased customer awareness and optimizing funnel flows to lead by a plethora of methods.  
			</p>
			<p>
				At Kissmetrics, I was responsible for designing and building out many landing pages, AB Tests and other marketing assets. The skillset required through this work includes advanced skills in PSDs, AI, HTML &amp; SCSS, wireframing and prototyping. The skillset that was learned during this tenureship were intermediate skills with Github and basic skills in Ruby on Rails, Javascript and jQuery.
			</p>
			<p>
				Other responsibilities included defining the Kissmetrics brand by creating more visibility, consistency, and engagement. Designed front facing assets including trade booths, collateral, white papers, landing pages, email templates etc..
			</p>
			<p class="callout">
				In April 2015, Patty was promoted from Web Designer to Marketing Design Manager to more fully manage consultants and the marketing site.
			</p>
		</div>
	</div>
</div>