<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Kissmetrics is an analytics platform with a suite of tools to empower the marketer to optimize their marketing funnel.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				I worked as a web designer at Kissmetrics under the leadership of many skilled mentors. At its core, Kissmetrics is an analytics platform that helps marketers improve their marketing performance by tracking real people.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'kissmetrics/km-track-people.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p>
				At Kissmetrics, one of the core company values was to <em>be better than yesterday</em>. Growth and improvement is always on the cusp which is why our popular blog advocated smarter marketing techniques. Below, is a redesign of the <%= link_to "iOS Kissmetrics Blog Reader App", "https://blog.kissmetrics.com/kissmetrics-blog-reader-update/", target: "_blank" %> I led. Aside from the visual refresh, it focused on social sharing, feedback and stronger interactions including introducing a favoriting feature. It has since been deprecated due to lack of engineering resources to maintain it in the app store.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= image_tag 'kissmetrics/kissmetrics-blog-reader.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p>

				We allowed to hit our business objectives of increased customer awareness and optimizing funnel flows to lead by a plethora of methods.  
				I was responsible for designing and building out many landing pages, AB Tests and other marketing assets. The skillset required through this work includes advanced skills in PSDs, AI, HTML &amp; SCSS, wireframing and prototyping. The skillset that was learned during this tenureship were intermediate skills with Github and basic skills in Ruby on Rails, Javascript and jQuery.
			</p>
			<p>
				Other responsibilities included defining the Kissmetrics brand by creating more visibility, consistency, and engagement. Designed front facing assets including trade booths, collateral, white papers, landing pages, email templates etc..
			</p>
			<p class="callout">
				In April 2015, Patty was promoted from Web Designer to Marketing Design Manager to more fully manage consultants and the marketing site.
			</p>
			<p>This section is currently under construction. To be continued...</p>
		</div>
	</div>
</div>