<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Kissmetrics is an analytics platform with a suite of tools to empower the marketer to optimize their marketing funnel.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				I worked as a web designer at Kissmetrics under the leadership of many skilled mentors. At its core, Kissmetrics is an analytics platform that helps marketers improve their marketing performance by tracking real people.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'kissmetrics/km-track-people.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p>
				At Kissmetrics, one of the core company values was to <em>be better than yesterday</em>. Growth and improvement is an ongoing priority for business growth and within yourself. Every project we undertook was measured to several baseline business objectives from signups to paid to retention to churn. I performed several AB tests and saw progressive improvements throughout the customer funnel including a huge win of 600% more traffic to the marketing site.
			</p>
			<p>
				A pain point we experienced was the lack of successful onboarding and implementation of the product. We holistically looked at all details of what it takes to onboard successfully and worked on several iterative projects that led to more received custom data and less support tickets. These projects were executed in tangent and in respect to pertinent product releases.
			</p>
			<p> 
				I was responsible for designing and building out many landing pages, AB Tests and other marketing assets. The skillset required through this work includes advanced skills in PSDs, AI, HTML &amp; SCSS, wireframing and prototyping. The skillset that was learned during this tenureship were intermediate skills with Github and basic skills in Ruby on Rails and jQuery. Other responsibilities included defining the Kissmetrics brand by creating more visibility, consistency and engagement.
			</p>
			<p class="callout">
				In April 2015, Patty was promoted from Web Designer to Marketing Design Manager to more fully manage consultants and the marketing site.
			</p>
			<hr>
			<h3>Kissmetrics Blog Reader App Redesign</h3>
			<p>		
				Our popular blog advocated smarter marketing techniques. Below, is a redesign of the <%= link_to "iOS Kissmetrics Blog Reader App", "https://blog.kissmetrics.com/kissmetrics-blog-reader-update/", target: "_blank" %> I led. Aside from the visual refresh, we focused on creating stronger interactions and improved sharing. Another purpose of this app was to improve the Kissmetric's mobile API with its interactions. This project included several rounds of brainstorming, prototyping and revisions for it to come to its fruition.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= image_tag 'kissmetrics/kissmetrics-blog-reader.jpg', class: "img-responsive" %>
				</div>
			</div>
		</div>
	</div>
</div>