<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">Kissmetrics is an analytics platform with a suite of tools to empower the marketer to optimize their marketing funnel.</p>
			<h2 class="center title">Keeping it simple to scale growth.</h2>
			<p>
				Designs and manages the front end of the UI of the marketing site. Experience includes advanced skills in PSDs, AI, HTML &amp; SCSS, wireframing and prototyping. Intermediate skills with Github. Basic skills in Ruby on Rails, Javascript and jQuery. Knowledge of AB testing, analytics and website funnel optimization.
			</p>
			<p>
				Other responsibilities included defining the Kissmetrics brand by creating more visibility, consistency, and engagement. Designed front facing assets including trade booths, collateral, white papers, landing pages, email templates etc..
			</p>
			<p class="callout">
				In April 2015, Patty was promoted from Web Designer to Marketing Design Manager to more fully manage consultants and the marketing site.
			</p>
		</div>
	</div>
</div>