<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				From crocheting to ceramics to jewelry, I frankly just love making things. I accredit the knack to my ADHD and my cheapness: <em>Oh, that's expensive, I can just make that for way cheaper.</em> But in all honesty, all of it is for the love of living that sweet ole hobby retired lifestyle. Below is a random collection of things I've made.
			</p>
			<div class="row">
				<div class="group-vertical-margin">
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'maker/maker-ceramics.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'maker/maker-jewelry.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'maker/maker-lamp.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 visible-xs">
						<%= image_tag 'maker/pattycrates-3.jpg', class: "img-responsive work work-dropshadow top-image" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>