<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				In late 2014, I decided my Ikea expedite shelf needed some custom drawers. So, I decided to build some crates. I cut my own wood down at the loveliest of hackerspaces, <%= link_to "Noisebridge", "https://www.noisebridge.net/", target: "_blank" %>. I then assembled the crates at my house. This was my first time using a saw, and, yes, there was a minor injury. But all in all, My ikea shelf now has crates.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 hidden-xs">
			<%= image_tag 'maker/pattycrates-1.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'maker/pattycrates-2.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'maker/pattycrates-3.jpg', class: "img-responsive work" %>
		</div>
	</div>
</div>