<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				Here are two facts that led to my passion project: San Francisco has more pets than children and I love dogs. In a moment of pure beauty, I awoke in the middle of the night, <em>"How about I commission pet portraits?"</em>
			</p>
			<div class="group-vertical-margin">
				<div class="row">	
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'sfpetproject/sfpp-barrett.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'sfpetproject/sfpp-cody.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'sfpetproject/sfpp-mike.jpg', class: "img-responsive work" %>
					</div>
				</div>
			</div>
			<p>
				Since Patty is currenlty nomadic, she has put SF Pet Project on pause <em>(paws?)</em>. View the Instagram to see past work.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<%= link_to "http://www.instagram.com/sfpetproject", target: "blank" do %>
				<button class="callout-link">
					View SF Pet Project <i class="fa fa-arrow-right"></i>
				</button>
			<% end %>
		</div>
	</div>
</div>