<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h2>Singly</h2>
			<h5>Lead Designer</h5>
			<p class="callout">
				Singly was a social API aggregator that allowed developers to easily access third party data in a uniform API. In other words, a single API.
			</p>
			<p>
				I worked at Singly for a year. It was my first job out of art school, and was my first hard plunge into the tech world.
			</p>
			<p>
				We went through several iterations of the website while trying to figure out the perfect product market fit. Eventually, the company's direction headed toward infiltrating the quantified self market. The image to the right is the most recent website iteration that is currently live at Singly.com.
			</p>
			<p>
				The technical graph on the bottom of the page was my favorite piece of this site. The infrastructure is highly technical, but the design of the architecture information is very easy to digest and visually appealing.
			</p>
			<p>
				Singly was acquired by my next employer Appcelerator in 2013.
			</p>
		</div>
	</div>
</div>