.connect {
	@media (max-width: $screen-sm-min) {
		padding-left: 26px;
		padding-right: 26px;
	}
}
	
.social {
	padding-bottom: 80px;
	margin: inherit auto;
	text-align: center;
	font-size: large;
	@media (max-width: $screen-sm-min) {
		font-size: inherit;
		padding-bottom: 40px;
	}
	.fa-stack {
		margin: 5px;
		@media (max-width: $screen-sm-min) {
			margin: 2px;
		}
	}
}