//Image Alignments for layovers

//Pull ups

img.pull-up-66 {
	margin-top: -66%;
}

img.pull-up-30 {
	margin-top: -30%;
}

img.pull-up-5 {
	position: relative;
	margin-top: -5%;
	@media (max-width: $screen-sm-min) {
		margin-top: -10%;
	}
}

//Push downs (Still referred to as pulled though)

img.pull-down-30 {
	margin-top: 30%;
}

img.pull-down-15 {
	margin-top: 15%;
	@media (max-width: $screen-md-min) {
		margin-top: 25%;
	}
	@media (max-width: $screen-sm-min) {
		margin-top: 19%;
	}
	@media (max-width: $screen-xs-min) {
		margin-top: 15%;
	}
}

img.pull-down-10 {
	margin-top: 10%;
}

// Pull lefts

img.pull-left-5 {
	position: relative;
	margin-left: -5%;
	@media (max-width: $screen-md-min) {
		margin-left: -8%;
	}
	@media (max-width: $screen-sm-min) {
		margin-left: -10%;
	}
	@media (max-width: $screen-xs-min) {
		margin-left: -12%;
	}
}

//Pull rights

img.pull-right-5 {
	position: relative;
	margin-left: 5%;
	@media (max-width: $screen-md-min) {
		margin-left: 8%;
	}
	@media (max-width: $screen-sm-min) {
		margin-left: 10%;
	}
	@media (max-width: $screen-xs-min) {
		margin-left: 12%;
	}
}

//waypoints

.to-be-animated {
	opacity: 0;
}

.to-be-animated.animated {
	opacity: 1;
}